.neu-effect{
    border-radius: 0.8rem;
    background: #ffffff;
    box-shadow:  6px 6px 12px #cfcfcf,
                 -6px -6px 12px #ffffff;
}

.neu-effect:focus{
    border-radius: 0.8rem;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  6px 6px 12px #dedede,
             -6px -6px 12px #ffffff;

}